<%- include('layout/headerlo') %>
<div class="container ">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="description">
                <h2 class="title text-center">Bienvenue sur notre application de réservation de salle de réunion</h2>
                <h5> <p class="call-to-action   " style="color: #0a60f5; ">  Découvrez nos fonctionnalités :</p></h5>
                <ul class="features">
                    <li>
                        <strong>Authentification facile :</strong> <h6> Inscrivez-vous et connectez-vous en quelques clics pour commencer à réserver vos salles de réunion.</h6>
                    </li>
                    <li>
                        <strong>Visualisation des salles :</strong> Parcourez notre catalogue de salles de réunion disponibles et trouvez celle qui correspond à vos besoins.
                    </li>
                    <li>
                        <strong>Réservation rapide :</strong> Réservez une salle de réunion en quelques étapes simples et organisez vos réunions en toute simplicité.
                    </li>
                    <li>
                        <strong>Gestion de vos réservations :</strong> Consultez, modifiez et annulez vos réservations en toute liberté, selon vos besoins.
                    </li>
                    <li>
                        <strong>Calendrier interactif :</strong> Explorez notre calendrier interactif pour visualiser les disponibilités des salles de réunion et planifier vos réunions avec précision.
                    </li>
                </ul>
                <h5> <p class="call-to-action  text-center" style="color: #0a60f5; "> Prêt à démarrer ? Inscrivez-vous dès maintenant et simplifiez la gestion de vos réunions ! </p></h5>
            </div>
        </div>
    </div>
</div>
           
<%- include('layout/footerlo') %>